
<<<<<<< HEAD
    background-image: linear-gradient(to right, #7ff5ac, #faf4f4);
=======
/* import fonts from fonts.css file */ 
@import url(./fonts.css);
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation */ 

nav{
    background-image: linear-gradient(to bottom , #f1f1f1, #faf4f4);
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background-image: linear-gradient(to bottom right, #7ff5ac, #faf4f4);
}

<<<<<<< HEAD
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(218, 218, 218);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    padding: 0px 5%;
=======
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
    border-radius: 15px;
}


<<<<<<< HEAD
    font-family: Geneva, Verdana, sans-serif;
    display: inline-block;
    color: #505050;
    font-size: 22px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
=======
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18

/* End Banner Area */ 

/* Start About Area */ 


<<<<<<< HEAD
    font-family: Cambria;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
    
=======
.site-main .about-area{
    padding: 8rem 5rem;
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Start Brand Area */ 

<<<<<<< HEAD
    line-height: 0px;
    margin: 46px 0px 26px;
    justify-content: center;
    align-items: center;
}

.text-container{

    position: absolute;
    text-align: center;
    left: 14%;
    top: 42%;
    transform: translate(-14%,-42%);
    
=======
.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 5px solid var(--border-color);
    border-radius: 35%;
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 150px;
    cursor: pointer;
    transition: transform .5s ease;
    background-image: radial-gradient(#ffffff , #e0dcdc);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    /*box-shadow: var(--box-shadow);*/
    transform: scale(1.2);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(1.2);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

<<<<<<< HEAD
/*.profile{

    height: 490x;
    width: 500px;
    position: relative;
    left: 60%;
    bottom: 40px;
    transform: translate(-25%,15%);
    border-radius: 30%;
}*/
=======
.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 

/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}


<<<<<<< HEAD
    padding: 2% 10% 0px 10%;
    height: 600px;
    /*background-color: #ffffff;*/
    background-image: linear-gradient(to right, #ece7e7, #ffffff);
}
=======
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18

/* End Services Area */ 


/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

<<<<<<< HEAD
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    line-height: 0px;
=======
.site-main .project-area .button-group button + button{
    padding-left: 3rem;
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

<<<<<<< HEAD
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    line-height: 5px;
=======
.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}


<<<<<<< HEAD
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #585555;
=======
/* End Project Area */ 


/* About Me */ 

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

<<<<<<< HEAD
    background-image: linear-gradient(to left, #000000, #2c2b2b);
    border-radius: 20px;
=======
.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

<<<<<<< HEAD
.contact{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to left, #000000, #2c2b2b);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
=======
.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 

/* side icons */

.side-bar a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
}

.side-bar a:hover i{
    color: #ffffff;
    transition: all ease 0.5s;
}

.side-bar{

    position: fixed;
    right:0px;
    top: 50%;
    transform: translateY(-50%);
}

.side-bar a{

    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.side-bar i{

    color: #000000;
    font-size: 20px;
}
<<<<<<< HEAD

@media(max-width:1000px){

    *{
        box-sizing: border-box;
    }

    .profile{

        height: 460px;
        left: 90%;
        transform: translateX(-90%);
    }

    .text-container{
        top: 46%;
    }

    .text-container button{

        margin: 5px;
    }

    .about{

        width:90%;
        border-radius: 10px;
    }

    .about img{

        height: 200px;
    }

    .about-text{

        width: 400px;
    }

    .about-text p:nth-child(1){

        font-size: 20px;
    }

    .about-text p:nth-child(2){

        font-size: 10px;
    }

    .about-text p:nth-child(3),
    .about-text p:nth-child(4){

        font-size: 14px;
    }

    .service{

        padding: 2% 5% 0px 5%;
    }

    .box-container{

        justify-content: center;
        flex-wrap: wrap;
    }

    .service{

        height: auto;
    }

    .box-1, .box-2, .box-3{

        flex-grow: 1;
        margin: 10px;
    }

    .contact{

        height: 200px;
    }

    .contact p{

        font-size: 26px;
    }

    .contact button{

        width: 160px;
        height: 36px;
        font-size: 14px;
    }
}

@media(max-width:750px){

    section{
        background-image: none;
        /*background-color: #f7f7f7;*/
        background-image: linear-gradient(to right, #dddddd, #ffffff);
    }

    .profile{

        display: none;
    }

    .text-container p:nth-child(2){

        margin: 0px;
        padding: 0px;
        line-height: 40px;
    }

    .text-container{

        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%
    }

    nav{

        background-color: #ffffff;
    }

    ul{

        background-image: linear-gradient(to right, #dddddd, #ffffff);
    }

    nav ul{

        margin: 0px;
        padding: 0px;
        background-color: #ebeef4;
        position: fixed;
        flex-direction: column;
        left: 0;
        top: 0px;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none;
    }

    .toggle{

        display: block;
    }

    nav ul li{

        padding: 10px;
    }

    nav ul li a{

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color: #5c5c5c;
    }

    .toggle:before{

        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
    }

    .toggle.active:before{

        content: '\f00d';
        position: fixed;
        right: 25px;
        line-height: 0px;
    }

    nav.active ul{

        display: flex !important;
    }


    .about{

        top: 0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .about-text{

        width: 90%;
        text-align: center;
    }

    .service-text{

        width: 100%;
    }

    .contact{

        height: 180px;
    }

    .contact p{

        font-size: 18px;
    }

    .contact button{

        height: 33px;
        width: 150px;
    }
}
=======
>>>>>>> fee135244b2251ff2e12acee4cb78690e79edf18
